:root {
  --header-bg: #ffffff;
  --content-bg: #ffffff;
}

[data-theme='dark'] {
  --header-bg: #001529;
  --content-bg: #141414;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
